.LogoSiteHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    height: auto;
    
}
.DivisaoTitulo{
    border: 2px solid rgb(50, 255, 9);
    padding: 80px;
    margin: -10px;
    background-color: rgb(0, 0, 0);
}