body{
    background-color: rgb(255, 255, 255);
    background-image: url("../Imagens/BackGroundIndigena.png");
    background-repeat: no-repeat;
}
.TituloTexto{
    text-align: center;
    font-size: 50px;
}


